$text-white: #FFFFFF;
$background-blue: #070724;
$dark-gray: #38384F;
$light-gray: #838391;
$active-blue: #419EBB;
$active-orange: #EDA249;
$active-purple: #6D2ED5;
$active-red: #D14C32;
$active-deep-red: #D83A34;
$active-brown: #CD5120;
$active-teal: #1EC1A2;
$active-dark-blue: #2D68F0;
$mercury-icon: #DEF4FC