@import '../../SharedStyling';

.planet-container {
  display: flex;
  flex-direction: column;
  color: $text-white;
  .planet-top-container {
    display: flex;
    padding: 100px;
  }
  .planet-bottom-container {
    display: flex;
  }
}