@import '../../SharedStyling';

.planet-container {
  display: flex;
  flex-direction: column;
  color: $text-white;
  .planet-top-container {
    display: flex;
    padding: 100px;
    .active {
      background-color: blue;
    }
  }
  .planet-bottom-container {
    display: flex;
  }
}