@import "../../Styles/SharedStyling";

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  height: auto;
  font-family: 'Antonio', sans-serif;
  border-bottom: 1px solid $light-gray;

  .nav-title {
    color: $text-white;
    font-size: 2rem;
  }

  .nav-planet-link {
    text-decoration: none;
    color: $light-gray;
    height: 100%;
    padding: 34px 0;
    margin: 0 25px;
    font-size: 0.8rem;
    line-height: 25px;
    font-family: 'League Spartan', sans-serif;
  }

  .nav-planet-link:hover {
    color: $text-white;
  }

  .active-mercury {
    border-top: 3px solid $active-blue;
  }

  .active-venus {
    border-top: 3px solid $active-orange
  }

  .active-earth {
    border-top: 3px solid $active-purple
  }

  .active-mars {
    border-top: 3px solid $active-red
  }

  .active-jupiter {
    border-top: 3px solid $active-deep-red
  }

  .active-saturn {
    border-top: 3px solid $active-brown;
  }

  .active-uranus {
    border-top: 3px solid $active-teal;
  }

  .active-neptune {
    border-top: 3px solid $active-dark-blue;
  }
}