@import "../../SharedStyling";

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 40px;
  width: 100%;
  height: 50px;
  font-family: 'Antonio', sans-serif;
  border-bottom: 1px solid $light-gray;
  .nav-title {
    color:$text-white;
    font-size: 2rem;
  }
  .nav-planet-link {
    text-decoration: none;
    color: $light-gray;
    padding: 0 25px;
  }
}